/*** css file for the website ***/
body {
    font-family: Montserrat, Lato, sans-serif;
    
}

/*** navbar ***/
.navbar-default {
    background-color: transparent;
    border-color: rgba(255,255,255, 0.4);
    letter-spacing: 2px;
    font-family: Revalia;
}
.navbar-default .navbar-brand {
    font-size: 20px;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a{
    font-size: 20px;
    color: #FFF;
}
.navbar-default .navbar-brand:hover{
    background-color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover{
    background-color: #FFF;
}
    /*** javascript transition ***/
    .navbar-fixed-top.scrolled { 
        background-color: silver;
        transition: background-color 200ms linear;
        border-color: rgba(255,255,255, 0.4);
    }
    .navbar-fixed-top.scrolled .navbar-brand{
        font-size: 20px;
        color: #000;
    }


/*** header ***/
#header {
    padding: 200px 5px;
    text-align: center;
    background: url("https://virtualideaz.github.io/header-image.jpeg") no-repeat center fixed;
    background-size: cover;
    
} 
.jumbotron {
   background-color: transparent;
   padding: 20px;
}
.jumbotron h1 {
    font-family: Kelly Slab;
    font-weight: bolder;
    padding: 20px 0px;
}
.jumbotron h3 {
    font-style: italic;
    font-family: Niconne, cursive;
    letter-spacing: 3px;
    font-size: 30px;
}
.profile {
     color: #FFF;
     background-color: rgba(0,0,0,0.5);
     border-radius: 10px;
}


/*** about ***/
#about {
    padding: 60px;
    background: url("https://virtualideaz.github.io/about-background.jpg") no-repeat center fixed;
    background-size: cover;
}
#about #about-heading {
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
#social {
    padding: 10px;
    margin: 0px 40px;
}
#social .fa.fa-twitter-square, .fa.fa-linkedin-square, .fa.fa-github, .fa.fa-wordpress {
    font-size: 50px;
    padding: 3px;
}
.experience {
    text-align: center;
}

/*** social media colors ***/
#social .fa.fa-twitter-square {
    color: #00aced;
}
#social .fa.fa-linkedin-square {
    color: #007bb6;
}
#social .fa.fa-github {
    color: #000;
}
#social .fa.fa-wordpress {
    color: #21759b;
}
.item {
    color:#48453d; 
    margin-top:30px; 
    overflow:hidden;
}
.tags a {
    background-color: #c0c5ce; 
    padding:10px; 
    color:#000; 
    display:inline-block; 
    font-size:11px; 
    text-transform:uppercase; 
    line-height:11px; 
    border-radius:2px; 
    margin-bottom:5px; 
    margin-right:2px; 
    text-decoration:none;
}
.tags a:hover {
    background-color:#a7adba;
}

/***portfolio ***/
#portfolio {
    padding: 60px;
    background: url("https://virtualideaz.github.io/portfolio.jpg") no-repeat center fixed;
    background-size: cover;
}
#portfolio h1 {
    font-weight: bolder;
    color: #FFF;
    text-transform: uppercase;
}
#portfolio-sub-header {
    color: #FFF;
}

/*** contact ***/
#contact {
    padding: 200px 30px;
    background: url("https://virtualideaz.github.io/get-in-touch.jpeg") no-repeat center fixed;
    background-size: cover;
} 
.mybanner {
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    color: #FFF;
    text-align: center;
}
#contact-h1{
    color: #FFF;
    font-weight: bold;
    font-family: Revalia;
}
#contact-button {
    background-color: transparent;
    border-color: rgba(0,0,0,0.8);
}
